.cryptoContainer {
  color: #333;
  background-color: #f9f9f9;
  border-radius: 20px;
  height: 350px;
  overflow-y: auto;
  padding: 20px;
  margin-top: 20px;
}

.Cryptolistheader {
  display: flex;
  justify-content: space-around;
}

.cryptoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.cryptoRank {
  flex-basis: auto; /* Allow content to determine width */
  margin-right: 10px; /* Add space between rank and info */
}

.cryptoInfo,
.cryptoPrice,
.cryptoMarketCap {
  flex: 1; /* Grow to fill available space */
  display: flex;
  align-items: center;
}

.cryptoIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.cryptoName {
  font-size: 1.1rem;
  font-weight: bold;
}

.cryptoPrice,
.cryptoMarketCap {
  font-size: 1.1rem;
  margin-left: 25px;
}

.price-up {
  color: #00cc66; /* Green color for price increase */
}

.price-down {
  color: #ff6666; /* Red color for price decrease */
}

h3 {
  color: black;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

