.dashboardContainer {
  flex-direction: column;
}

.dashboardTitle {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  padding-left: 33px;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.statsContainer {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 500px;
}

.view {
  flex: 1;
}

.largeView {
  min-width: 300px;
  /* Adjust width as needed */
}

.middleView {
  min-width: 200px;
  /* Adjust width as needed */
}