.dashboardContainer {
  padding: 20px;
}

.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.dashboardTitle {
  font-size: 31px;
  color: white;
  font-weight: bold;
  flex: 1;
  margin-left: 70px;
}

.searchBarWrapper {
  flex: 1;
}

.profileDropdown,
.iconsContainer {
  display: flex;
  align-items: center;
}

.profileDropdown {
  margin-right: 20px;
}

.iconsContainer {
  margin-left: 20px;
}

.profilePic {
  height: 50px;
  border-radius: 50%;
}

.dropdownContent {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: none;
}

.profileDropdown:hover .dropdownContent {
  display: block;
}

.icon {
  margin-left: 10px;
  cursor: pointer;
  color: white;
}


.dashboardBody {
  display: flex;
  height: 100%;
  margin-top: 50px;
}

.mainContent {
  background-color: #171925;
  padding: 20px;
}

.sideContent {
  background-color: #171925;
  margin-top: 20px;
}


.walletcontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

h3 {
  color: black;
}


.searchBar {
  width: 100px;
  height: 40px;
  padding: 10px 50px 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  background-color: #252634;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: width 0.4s ease-in-out;
}

.searchBar::placeholder {
  color: white;
}

.searchBar:focus {
  width: 250px;
}

.searchBarWrapper {
  display: flex;
}

.geld {
  color: black;
  font-weight: bold;
}