.exchangeRatesContainer {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  margin-top: -20px;
}

.exchangeRateRow {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

.currency,
.rate {
  display: flex;
  align-items: center;
}

.currency {
  font-weight: bold;
}

.h2 {
  text-align: center;
}