.custom-card {
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 110px;
    height: 110px;
  }
  
  .custom-header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .custom-value {
    font-size: 24px;
    text-align: center;
  }

  .Expensescard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 540px;
  }
  
  .green {
    background-color: #b3ffb3; 
  }
  
  .red {
    background-color: #ffb3b3;
  }
  
  .blue {
    background-color: #b3d1ff;
  }
  