.App {
  display: flex;
}

.main-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  transition: margin-left 0.3s ease;
  z-index: 1;
  background-color: #171925;
}

.main-content.shrink {
  margin-left: 200px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}