.App {
    display: flex;
}

.nav-toggle {
    position: fixed;
    z-index: 2;
    cursor: pointer;
}

.mainNavigation {
    width: 0;
    height: 100%;
    background-color: #113065;
    overflow-x: hidden;
    transition: 0.5s;
    position: fixed;
    z-index: 1;
}

.mainNavigation.open {
    width: 200px;
}

.mainNavigation ul {
    padding: 0;
    margin: 20px 0 0 20px;
    list-style: none;
}

.mainNavigation ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 0;
    color: #aad6ec
}

.main-content {
    margin-left: 0;
    transition: margin-left 0.5s;
}

.main-content.expand {
    margin-left: 150px;
}

.main-content {
    transition: margin-left 0.5s, width 0.5s;
    width: calc(100% - 0px);
    float: right;
    background-color: #113065;
}

.main-content.shrink {
    margin-left: 150px;
    width: calc(100% - 150px);
}

.mainNavigation:not(.open)+.main-content {
    margin-left: 0;
    width: 100%;
}

.nav-user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin-right: 20px;
}

.nav-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nav-user-info span {
    color: #aad6ec;
    font-size: 16px;
}